body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: Work Sans, sans-serif;
}

:root {
  --clr-txt: #333;
  --clr-filter-bg: #b7ddca;
  --clr-filter-border: #0309;
  --size-navbar: -64px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

h3 {
  color: #27323d;
  margin-bottom: .5em;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.35;
}

.navbar {
  justify-content: space-between;
  height: 64px;
  display: flex;
}

.navbar button {
  padding: 0 40px;
}

.main-page {
  padding: 15px;
}

label {
  color: #0009;
}

button {
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  color: #27323d;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  outline: 0;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

button:disabled {
  color: #fff8 !important;
}

button:hover, button.outline:hover, button.outline-reverse:hover, button.transparent:hover, button.transparent-light:hover {
  background-color: #0003;
}

button:disabled:hover {
  background-color: initial;
}

button.primary {
  color: #fff;
  background: #f2732e;
  border-color: #5a7201;
}

button.secondary {
  color: #fff;
  background: #5a720299;
  border-color: #5a7201;
}

button.tertiary {
  color: #fff;
  background: #fff3;
  border-color: #5a7201;
}

button.outline {
  color: var(--clr-txt);
  border: 1px solid var(--clr-txt);
  background: none;
}

button.outline-reverse {
  color: #fff;
  background: none;
  border: 1px solid #fff;
}

button.transparent {
  color: #27323d;
  background: none;
  border: none;
}

button.transparent-light {
  color: #fff;
  background: none;
  border: none;
}

button.small {
  height: 24px;
  padding: 4px 10px;
  font-size: 12px;
  line-height: 16px;
}

button.mini {
  height: 18px;
  padding: 2px 4px;
  font-size: 10px;
  line-height: 12px;
}

button.disabled {
  opacity: .3;
  cursor: not-allowed;
}

.tableOrMap {
  align-items: center;
  display: flex;
}

.tableOrMap label {
  font-size: 12px;
  line-height: 12px;
}

.tableOrMap input[type="range"] {
  width: 30px;
}

.help {
  color: #0006;
  font-size: 12px;
  font-style: italic;
}

.Explorations h1 {
  font-weight: normal;
}

.Explorations > h3 {
  margin-top: 3rem;
}

.Explorations .featured {
  justify-content: space-evenly;
  width: 100%;
  display: flex;
}

.Explorations .featured .featured-item {
  cursor: pointer;
  background-color: #eee;
  width: 100%;
  margin: 20px;
  padding: 40px;
  display: flex;
}

.Explorations .featured .featured-item img {
  height: 100px;
}

.Explorations .featured .featured-item .featured-description {
  flex-direction: column;
  margin-left: 2rem;
  display: flex;
}

.Explorations .empty-table {
  border: 1px solid #0003;
  width: 100%;
  margin-top: 1rem;
  padding: 20px;
}

.Explorations table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

.Explorations thead tr {
  text-align: left;
  background-color: #f2f2f2;
}

.Explorations th, .Explorations td {
  padding: 16px;
}

.Explorations th {
  color: #27323d;
  text-align: left;
  background: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  font-weight: 500;
}

.Explorations tr:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

.Explorations td {
  font-size: 14px;
  line-height: 1.5715;
}

.Explorations td > img {
  vertical-align: middle;
  width: 50px;
  padding-right: 10px;
}

@property --colorOwner {
  syntax: "<color>";
  inherits: true;
  initial-value: #5a7202;
}

@property --colorNotOwner {
  syntax: "<color>";
  inherits: true;
  initial-value: #777;
}

.Exploration {
  background-color: #d0d7b6;
  flex-direction: column;
  width: 100%;
  display: flex;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.Exploration .border {
  box-sizing: border-box;
  border-left: 20px solid var(--colorNotOwner);
  border-right: 20px solid var(--colorNotOwner);
  grid-template-rows: 36px auto 42px;
  height: 95%;
  display: grid;
}

.Exploration.isOwner .border {
  border-color: var(--colorOwner);
}

.Exploration .navbar {
  color: #0003;
  background-color: #f3f5ec;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  padding: 5px;
  display: flex;
}

.Exploration .navbar .url {
  color: #5a7202;
  cursor: pointer;
}

.Exploration .navbar .current {
  color: #333;
}

.Exploration .title {
  color: #fff;
  background-color: var(--colorNotOwner);
  align-items: center;
  padding-top: 5px;
  display: flex;
}

.Exploration.isOwner .title {
  background-color: var(--colorOwner);
}

.Exploration .title input {
  color: #fff;
  background-color: #fff2;
  border: none;
  width: 20rem;
  margin: 0 10px;
}

.Exploration .tableOrMap {
  width: 150px;
}

.Exploration .tableOrMap input {
  width: 30px;
}

.Exploration .tableOrMap label {
  color: var(--clr-txt);
}

.Exploration .title .tableOrMap label {
  color: #fff;
}

.Exploration .content {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.Exploration > .border > .content > .sidebar {
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
  display: flex;
}

.Exploration > .border > .content > .sidebar > div {
  height: 50%;
}

.Exploration > .border > .content > .sidebar h4 {
  margin-top: 0;
  margin-bottom: .25rem;
  font-weight: normal;
}

.Exploration > .border > .content > .sidebar .notes {
  flex-direction: column;
  display: flex;
}

.Exploration > .border > .content > .sidebar .notes h4 {
  margin-top: 2rem;
}

.Exploration > .border > .content > .sidebar textarea {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: .5rem;
}

.Exploration > .border > .content > .sidebar .notes .description {
  background-color: #fff3;
  border: 1px solid #0003;
  height: 100%;
  padding: .5rem;
}

.Exploration .visualization {
  background-color: #f8f9fa;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: scroll;
}

.Exploration .visualization .vis-list {
  background-color: #d9dfc5;
  flex-direction: column;
  row-gap: 10px;
  display: flex;
}

.Exploration .visualization .help {
  text-align: center;
  width: 100%;
}

.Exploration .controlbar {
  justify-content: space-between;
  display: flex;
}

.Exploration .footer {
  color: #fff;
  background-color: var(--colorNotOwner);
  justify-content: space-between;
  padding: 5px 20px;
  display: flex;
}

.Exploration.isOwner .footer {
  background-color: var(--colorOwner);
}

.Exploration .footer button {
  color: #fff;
}

.Exploration > .dialog {
  background-color: #ff0d;
  flex-direction: column;
  width: 30%;
  margin: 20% 25%;
  padding: 20px;
  display: flex;
  position: absolute;
}

.Exploration > .dialog.warning {
  background-color: #f80d;
}

.Exploration > .dialog > .twocolumns {
  grid-template-columns: 1fr 80px 1fr;
  display: grid;
}

.Exploration > .dialog button {
  align-self: flex-end;
}

.Exploration > .hint {
  background-color: #ff0d;
  flex-direction: column;
  padding: 20px;
  display: flex;
  position: absolute;
}

.NotLoggedIn {
  background-color: #fff;
  flex-direction: column;
  padding: 20px;
  display: flex;
  position: absolute;
  inset: 35% 35% 30%;
}

.NotLoggedIn > .controlbar {
  justify-content: space-between;
  margin-top: .5rem;
  padding: 10px 0;
  display: flex;
}

.EXPItems {
  flex-direction: column;
  display: flex;
}

.EXPItemsList {
  background-color: #fff3;
  border: 1px inset #0003;
  flex-grow: 1;
  padding: 10px;
  overflow-y: scroll;
}

.EXPItemsList .item {
  margin-bottom: 5px;
  padding: 3px;
  display: flex;
}

.EXPItemsList .item.selected, .EXPItemsList .item:hover {
  background-color: #0003;
}

.EXPItemsList .item .description {
  flex-direction: column;
  padding-left: 1rem;
  display: flex;
}

.EXPItemsList .item .description h3 {
  margin-block: 0;
  font-size: 12px;
}

.EXPItemsList .item .description div {
  color: #0009;
  font-size: 10px;
}

.EXPItemsList img {
  height: 50px;
}

.EXPItems .controlbar {
  justify-content: space-between;
  margin-top: .5rem;
  display: flex;
}

.EXPEdit {
  background-color: #fff;
  flex-direction: column;
  display: flex;
  position: absolute;
  inset: 50px;
}

.EXPEdit > h3 {
  margin: 0;
  padding: 10px;
  font-size: 1rem;
}

.EXPEdit .content {
  padding: 10px;
  display: flex;
}

.EXPEdit > .content > .sidebar {
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 10px;
  display: flex;
  overflow: auto;
}

.EXPEdit > .content > .sidebar input {
  color: var(--clr-txt);
  border: 1px solid #0003;
  margin: 10px 0 20px;
  padding: 3px 5px;
}

.EXPEdit > .content > .sidebar > .step {
  flex-direction: column;
  margin-top: 1rem;
  display: flex;
}

.EXPEdit > .content > .sidebar > .step > div {
  padding-left: 1rem;
}

.EXPEdit > .content > .sidebar select {
  margin: 10px 0 3px;
}

.EXPEdit > .content > .sidebar .filter {
  background-color: var(--clr-filter-bg);
  border: 4px double var(--clr-filter-border);
  padding: 10px;
}

.EXPEdit .visualization {
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0 10px 0 20px;
  display: flex;
  overflow: hidden;
}

.EXPEdit .visualization img {
  width: 100%;
}

.EXPEdit .minicontrolbar {
  align-items: baseline;
  width: 100%;
  display: flex;
}

.EXPEdit .typeselector {
  border: 1px solid #0003;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  display: grid;
}

.EXPEdit .typeselector .card {
  border: 1px solid #0003;
  flex-direction: column;
  padding: 5px;
  display: flex;
}

.EXPEdit .typeselector .card:hover {
  background-color: #0003;
}

.EXPEdit .typeselector img {
  width: 75px;
}

.EXPEdit .typeselector p {
  color: #0009;
  margin-block: .25rem;
  font-size: 12px;
}

.EXPEdit .configure {
  flex-direction: column;
  row-gap: 10px;
  display: flex;
}

.EXPEdit .configure label {
  display: block;
}

.EXPEdit > .controlbar {
  background-color: #fcddcc;
  justify-content: right;
  margin-top: .5rem;
  padding: 10px;
  display: flex;
}

.EXPEdit .controlbar button {
  margin-left: 1rem;
}

.screen {
  top: var(--size-navbar);
  background-color: #0000004d;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.FilterEdit {
  background-color: var(--clr-filter-bg);
  border: 4px double var(--clr-filter-border);
  flex-direction: column;
  display: flex;
  position: absolute;
  inset: 50px;
}

.FilterEdit > h3 {
  margin: 0;
  padding: 10px;
  font-size: 1rem;
}

.FilterEdit > .content > .sidebar {
  grid-template-rows: 20px auto 40px;
  width: 75%;
  padding-right: 10px;
  display: grid;
}

.FilterEdit > .content > .sidebar > .steps {
  overflow: auto;
}

.FilterEdit > .content > .sidebar > .steps > .step {
  flex-direction: column;
  margin-top: 1rem;
  display: flex;
}

.FilterEdit > .content > .sidebar > .steps > .step > div {
  padding-left: 1rem;
}

.FilterEdit > .content > .sidebar input {
  color: var(--clr-txt);
  border: 1px solid #0003;
  width: min-content;
  margin: 0;
}

.FilterEdit > .content > .sidebar .form {
  grid-template-columns: 60px auto;
  align-items: center;
  padding-top: 10px;
  display: grid;
  overflow: auto;
}

.FilterEdit > .content > .sidebar .items {
  padding-top: 10px;
}

.FilterEdit > .content > .sidebar > .controlbar {
  background-color: var(--clr-filter-bg);
  justify-content: right;
  display: flex;
}

.EXPView {
  background-color: #fff;
  padding: 10px;
  display: flex;
}

.EXPView .sidebar {
  width: 25%;
}

.EXPView .sidebar h3 {
  margin: 0;
  font-size: 1rem;
}

.EXPView .visualization {
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  display: flex;
}

.EXPView .visualization img {
  width: 750px;
  height: 750px;
}

.EXPView .minicontrolbar {
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.EXPView .layers label {
  display: block;
}
/*# sourceMappingURL=index.2212206d.css.map */
