.screen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.EXPEdit {
  position: absolute;
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;
  background-color: white;

  display: flex;
  flex-direction: column;
}

.EXPEdit > h3 {
  margin: 0;
  padding: 10px;
  font-size: 1rem;
}

.EXPEdit .content {
  display: flex;
  padding: 10px;
}

.EXPEdit > .content > .sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
  width: 40%;
  overflow: auto;
}
.EXPEdit > .content > .sidebar input {
  color: var(--clr-txt);
  border: 1px solid #0003;
  padding: 3px 5px;
  margin: 10px 0 20px 0;
}
.EXPEdit > .content > .sidebar > .step {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.EXPEdit > .content > .sidebar > .step > div {
  padding-left: 1rem;
}

.EXPEdit > .content > .sidebar select {
  margin: 10px 0 3px 0;
}
.EXPEdit > .content > .sidebar .filter {
  padding: 10px;
  background-color: var(--clr-filter-bg);
  border: 4px double var(--clr-filter-border);
}

.EXPEdit .visualization {
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}
.EXPEdit .visualization img {
  width: 100%;
}

.EXPEdit .minicontrolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.EXPEdit .typeselector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  border: 1px solid #0003;
}
.EXPEdit .typeselector .card {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px solid #0003;
}
.EXPEdit .typeselector .card:hover {
  background-color: #0003;
}
.EXPEdit .typeselector img {
  width: 75px;
}
.EXPEdit .typeselector p {
  color: #0009;
  font-size: 12px;
  margin-block: 0.25rem;
}

.EXPEdit .configure {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.EXPEdit .configure label {
  display: block;
}

.EXPEdit > .controlbar {
  display: flex;
  justify-content: right;
  margin-top: 0.5rem;
  padding: 10px;
  background-color: #fcddcc;
}
.EXPEdit .controlbar button {
  margin-left: 1rem;
}
