.EXPItems {
  display: flex;
  flex-direction: column;
}

.EXPItemsList {
  flex-grow: 1;
  border: 1px inset #0003;
  padding: 10px;
  background-color: #fff3;
  overflow-y: scroll;
}

.EXPItemsList .item {
  display: flex;
  margin-bottom: 5px;
  padding: 3px;
}
.EXPItemsList .item.selected {
  background-color: #0003;
}
.EXPItemsList .item:hover {
  background-color: #0003;
}
.EXPItemsList .item .description {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
.EXPItemsList .item .description h3 {
  font-size: 12px;
  margin-block-start: 0;
  margin-block-end: 0;
}
.EXPItemsList .item .description div {
  font-size: 10px;
  color: #0009;
}

.EXPItemsList img {
  height: 50px;
}

.EXPItems .controlbar {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
