.Explorations h1 {
  font-weight: normal;
}

/* Featured */
.Explorations .featured {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.Explorations .featured .featured-item {
  display: flex;
  background-color: #eee;
  width: 100%;
  margin: 20px;
  padding: 40px;
  cursor: pointer;
}
.Explorations .featured .featured-item img {
  height: 100px;
}
.Explorations .featured .featured-item .featured-description {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
/* Empty Table */
.Explorations .empty-table {
  border: 1px solid #0003;
  margin-top: 1rem;
  padding: 20px;
  width: 100%;
}
/* Table */
.Explorations table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
}
.Explorations thead tr {
  background-color: #f2f2f2;
  text-align: left;
}
.Explorations th,
.Explorations td {
  padding: 16px;
}
.Explorations th {
  color: #27323d;
  font-weight: 500;
  text-align: left;
  background: #fafafa;
  border-bottom: 1px solid #f0f0f0;
}
.Explorations tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.Explorations td {
  line-height: 1.5715;
  font-size: 14px;
}
.Explorations td > img {
  width: 50px;
  padding-right: 10px;
  vertical-align: middle;
}
