.Exploration {
  position: absolute;
  top: 94px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d0d7b6;

  display: flex;
  flex-direction: column;
}

.Exploration .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  padding: 5px;
}

.Exploration .title {
  display: flex;
  align-items: center;
  color: white;
  background-color: #5a7202;
  height: 32px;
  padding: 0 10px;
}

.Exploration .title input {
  border: none;
  color: white;
  background-color: #fff2;
  margin: 0 10px;
  width: 20rem;
}

.Exploration .content {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.Exploration > .content > .sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
}
.Exploration > .content > .sidebar > div {
  height: 50%;
}
.Exploration > .content > .sidebar h4 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0.25rem;
}
.Exploration > .content > .sidebar .notes {
  display: flex;
  flex-direction: column;
}
.Exploration > .content > .sidebar .notes h4 {
  margin-top: 2rem;
}
.Exploration > .content > .sidebar textarea {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
}
.Exploration > .content > .sidebar .notes .description {
  border: 1px solid #0003;
  background-color: #fff3;
  height: 100%;
  padding: 0.5rem;
}
/* not actually needed?  there's no label under the sidebar
.Exploration .sidebar label {
  margin: 1rem 0 0.25rem 0;
} */

.Exploration .visualization {
  display: flex;
  width: 100%;
  height: 100%;
  /* align-items: center; keep vis-list from scrolling too far */
  background-color: #f8f9fa;
  overflow: scroll;
}
.Exploration .visualization .vis-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: #d9dfc5;
}
.Exploration .visualization .help {
  width: 100%;
  text-align: center;
}

.Exploration .footer {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  color: white;
  background-color: #4f6304;
}
.Exploration .footer button {
  color: white;
}
