.Exploration {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d0d7b6;
  
  display: flex;
  flex-direction: column;
}

.Exploration .navbar {
  display: flex;
  justify-content: space-between;
  height: 32px;
}

.Exploration .title {
  color: white;
  background-color: #5a7202;
  padding: 0 10px;
}

.Exploration input {
  border: none;
  color: white;
  background-color: #fff2;
  margin: 0 10px;
  width: 20rem;
}

.Exploration .content {
  flex-grow: 1;
  display: flex;
}

.Exploration .sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
}
.Exploration .sidebar > div {
  height: 50%;
}
.Exploration .sidebar h4 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0.25rem;
}
.Exploration .sidebar .notes {
  display: flex;
  flex-direction: column;
}
.Exploration .sidebar .notes h4 {
  margin-top: 2rem;
}
.Exploration .sidebar textarea {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0.5rem;  
}
/* not actually needed?  there's no label under the sidebar
.Exploration .sidebar label {
  margin: 1rem 0 0.25rem 0;
} */
  
.Exploration .visualization {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}
.Exploration .visualization .help {
  width: 100%;
  text-align: center; 
}

.Exploration .footer {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  color: white;
  background-color: #4f6304;
}
.Exploration .footer button {
  color: white;
}