.screen {
  position: absolute;
  top: var(--size-navbar);
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.NotLoggedIn {
  position: absolute;
  top: 35%;
  left: 35%;
  bottom: 30%;
  right: 35%;
  background-color: white;

  display: flex;
  flex-direction: column;
  padding: 20px;
}

.NotLoggedIn > .controlbar {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  padding: 10px 0;
}
